{% extends 'base.html' %}

{% block content %}
    <div class="form-container">
    <div class="form-box col-md-4">
        <h2 class="text-center">Cadastro</h2>
        <p class="text-center">Junte-se a milhares de pessoas no controle do seu foco!</p>
        <form method="post" action="{% url 'cadastro' %}">
        {% csrf_token %}
            <div class="mb-3">
                {{ form.username }}
            </div>
            <div class="mb-3">
                {{ form.email }}
            </div>
            <div class="mb-3">
                {{ form.password }}
            </div>
            <div class="mb-3">
                {{ form.password2 }}
            </div>
            <div class="mb-3">
                <label class="form-label">Insira uma data de nascimento:</label>
                <div class="d-flex gap-2">
                    <input type="number" name="day" class="form-control" placeholder="Dia" min="1" max="31" required>
                    <input type="number" name="month" class="form-control" placeholder="Mês" min="1" max="12" required>
                    <input type="number" name="year" class="form-control" placeholder="Ano" min="1900" required>
                </div>
            </div>
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary">Cadastrar-se</button>
            </div>
            <div class="text-center">
                <span>Já tem uma conta? <a href="{% url 'login' %}">entre</a></span>
            </div>
        </form>
    </div>
</div>
<hr>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

{% endblock content %}
    