{% extends 'base.html' %}

{% load static %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}

    <div class="main-container-profile">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="profile-settings">
        <h1 class="title-settings">Editar perfil</h1>

        {% if form.errors %}
            <div class="message message-error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="main-settings">
            <div class="left">
                <h2>{{ request.user.username }}</h2>
                {% if form.user.photo.url %}
                    <img src="{{ request.user.photo.url }}" alt="User photo" class="img-profile">
                {% else %}
                    <img src="{% static 'img/user 5.svg' %}" alt="User photo" class="img-profile">
                {% endif %}
                <label for="file-upload" class="custom-file-label"><strong>Adicionar nova foto</strong></label>
                <input id="file-upload" type="file" class="custom-file-input" name="photo">
                <span class="file-name">Nenhum arquivo selecionado</span>
            </div>
            <div class="right">
                <div class="form-group">
                    <label for="username">Nome</label>
                    {{ form.username }}

                    {{ form.username.errors }}
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    {{ form.email }}

                    {{ form.email.errors }}
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    {{ form.password1 }}
                    
                    {{ form.password1.errors }}

                </div>
                <div class="form-group">
                    <label for="confirmar-senha">Confirmar senha</label>
                    {{ form.password2 }}
                   
                    {{ form.password2.errors }}

                </div>
                <div class="form-group date-group">
                    <label class="date-title" for="birth_date">Alterar data de nascimento:</label>
                    <div class="date-inputs">
                        <input type="text" name="day" placeholder="Dia" class="date-input form-control form-input">
                        <input type="text" name="month" placeholder="Mês" class="date-input form-control form-input">
                        <input type="text" name="year" placeholder="Ano" class="date-input form-control form-input">
                    </div>
            </div>
        </div>
        </div>
        <button class="start-button save-btn" type="submit">Salvar alterações</button>
        </form>
    </div>

<script>
    const fileInput = document.getElementById("file-upload");
    const fileName = document.querySelector(".file-name");

    fileInput.addEventListener("change", (event) => {
        if (event.target.files.length > 0) {
            fileName.textContent = event.target.files[0].name;
        } else {
            fileName.textContent = "Nenhum arquivo selecionado";
        }
    });
</script>
{% endblock content %}